:root {
    --rb: #9bd1ba;
    --w: #224d4d;
    --k: #f69330;
    --brigh: #eddb56;
    --bright: #fdf6bc;
    --black: #444;
    --light-color: #4baa81;
    --border: .4rem solid rgba(19, 24, 96, 0.548);
    --border-hover: 1rem solid var(--black);
    --box-shadow: 0 .5rem 1rem rgba(69, 122, 100, 0.017);
    --brown: #9c5c32;
  }
  
  body {
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    background: linear-gradient(135deg, #9bd1ba, #faf096, #faf6d5, #f7f0ad, #9bd1ba);
    
  }
  
  .container {
    display: flex;
    height: 100vh;
  }
  
  .sidebar {
    width: 260px;
    background-color: var(--rb);
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sidebar .logo:hover{
    color: var(--bright);
  }
  
  .logo {
    font-size: 28px;
    font-weight: bold;
    color: var(--w);
    margin-bottom: 50px;
  }
  
  .menu {
    list-style: none;
    width: 100%;
    padding: 0;
  }
  
  .menu li {
    padding: 15px;
    cursor: pointer;
    text-align: center;
    border-radius: 25px;
    margin-bottom: 15px;
    font-weight: lighter;
    text-transform:inherit;
    letter-spacing: 0px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2); /* Light shadow */
    transition: background-color 0.3s;
    color: var(--bright); 
    background: var(--light-color); 
    font-size: 18px;
  }
  
  .menu li:hover,
  .menu li.active {
    background: var(--rb); /* Lighter yellow */
    color: var(--bright);
    transform: translateY(-3px); /* Subtle lift effect */
    box-shadow: 6px 5px 15px rgba(0, 0, 0, 0.3); /* Deeper shadow */
    background-color: #f5912d;
  }
  
  .menu a {
    text-decoration: none;
    color: var(--bright);
    font-size: 18px;
  }
  
  
  
  .main {
    flex: 1;
    padding: 50px;
  }
  
  .welcome {
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 26px;
    margin-bottom: 40px;
    color: var(--w);
  }
  
  .section h2 {
    margin-bottom: 20px;
    color: var(--w);
    font-size: 24px;
  }
  
  .section label {
    display: block;
    margin: 15px 0 5px;
    font-size: 18px;
    color: var(--w);
  }
  .section input {
    width: 350px;
    padding: 12px;
    margin-bottom: 20px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    outline: none;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  .section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 60vh;
}

 
  
  .section button {
    padding: 12px 30px;
    background-color: var(--light-color);
    color:var(--bright);
    border: none;
    border-radius: 28px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
    font-style: italic;
    text-transform:inherit;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .section button:hover {
    color: var(--bright);
    transform: translateY(-3px); /* Subtle lift effect */
    box-shadow: 6px 5px 15px rgba(0, 0, 0, 0.3); /* Deeper shadow */
    background-color: #f69330;
  }
  